.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: white;
  color: black;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}

.chart-card {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
  margin: 0px;
  height: 100%;
}

.card-list {
  width: 100%;
  height: 100%;
  min-height: 250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.25rem;
  margin-top: 1rem;
}

.card-lidt-card {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
  margin: 0px;
  height: 100%;
}

.button {
  background-color: #9fa2b4; /* Green */
  border: none;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 50%;
  height: 2px;
}
