.card-container {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin: 0px;
}
