
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10rem 10rem 10rem;

}

.dashboard-header {
    height: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.button-group {
    padding: 0;
    border: 1px solid black;
    margin-bottom: 2rem;
    align-items: flex-end;
    align-self: flex-end;
}

.card-list {
    width: 100%;
    height: 12.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.25rem;
}

.chart-card {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
}