.Dashboard {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.dashboard-energy-use {
  margin-left: auto;
}

.card-dashboard {
  width: 100%;
  margin-top: 1rem;
  height: fit-content;
}

.chart-group {
  display: flex;
  flex-flow: column;
}

.header-price {
}

.button-group {
  padding: 0px;
  border: 2px solid black;
  margin-left: auto;
  justify-content: end;
  width: fit-content;
  border-radius: 10px;
  color: #9fa2b4;
  border-color: #f0f1f7;
}

.button-group button {
  height: 1.5rem;
}

.button-group span {
  color: #9fa2b4;
}

Button {
  padding: 0px;
}

.chart-card {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
  margin: 0px;
  height: 100%;
}

.card-list {
  width: 100%;
  height: 100%;
  min-height: 250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
  margin-top: 1rem;
}

.card-lidt-card {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
  margin: 0px;
  height: 100%;
}
