.toolbar {
  display: flex;

  .title-text {
    font-family: 'Mulish';
    font-weight: bold;
    white-space: nowrap;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .toolbar-content {
    display: flex;
    justify-content: center;
    margin-left: auto;
    grid-gap: 0.5rem;

    @media (max-width: 767px) {
      margin-top: 1rem;
    }

    .welcome-text {
      font-family: 'Mulish';
      font-weight: 500;
      margin-left: 10px;
      margin: auto;
      text-align: center;
    }

    .icon {
      border: none;
    }
  }
}
